<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Edit My Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/narrow-jumbotron.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" type="text/css"/>
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      /*#autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }*/
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      /*#locationField {
        height: 20px;
        margin-bottom: 2px;
      }*/
    </style>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Edit My Profile</h3>
      </div>

        <div class="row">
          <form class="form-signin" id="edit_profile" method="Post" action="/EditProfilePageHandler">
            <input type="hidden" name="userid" value="{{.userid}}">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Fullname</label>
              <div class="col-10">
                <input class="form-control" name="fullname" type="text" value="{{.fullname}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Address</label>
                <div id="locationField" class="col-10" >
                  <input id="autocomplete" class="form-control" placeholder="Enter your address" name="address" onFocus="geolocate()" type="text" value="{{.address}}" required>  
                </div>
             
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Email</label>
              <div class="col-10">
                <input class="form-control" name="email" type="email" value="{{.username}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Tel no.</label>
              <div class="col-10">
                <input class="form-control" name="telno" type="text" value="{{.telephone}}">
              </div>
            </div>
            
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>    
        </div> 
      

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>



<script>
  $(document).ready(function() {
      $('#edit_profile').bootstrapValidator({
          // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              
              fullname: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your Fullname'
                    }
                }
            },

              email: {
                  validators: {
                     emailAddress: {
                          message: 'Please supply a valid email address'
                      },
                      notEmpty: {
                      message: 'email is required'
                    },
                      remote: {
                        url: '/validate_email',
                        // Send { username: 'its value', email: 'its value' } to the back-end
                        data: function(validator, $field, value) {
                            return {
                                userid: {{.userid}},
                                rev_validate : 0 ,
                            };
                        },
                        message: 'This Email address is not available, try another.',
                        type: 'POST'
                    }

                  }
              },

              telno: {
                  validators: {
                          stringLength: {
                          min: 2,
                      },
                          notEmpty: {
                          message: 'Please supply your telephone no.'
                      }
                  }
              },
              
       
          
     
            
            
              

              
              }
          })
      
    
          .on('success.form.bv', function(e) {
              $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                  $('#edit_profile').data('bootstrapValidator').resetForm();

              // Prevent form submission
              e.preventDefault();

              // Get the form instance
              var $form = $(e.target);

              // Get the BootstrapValidator instance
              var bv = $form.data('bootstrapValidator');

              // Use Ajax to submit form data
              $.post($form.attr('action'), $form.serialize(), function(result) {
                  console.log(result);
              }, 'json');
          });
  });

</script>

 <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
      //  autocomplete.addListener('place_changed', fillInAddress);
      }
/*
      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();


        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }
*/
      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAY9BChIltSkc3HOlNEtb3yFJvz5fdzGY&libraries=places&callback=initAutocomplete"
        async defer></script>
  
  </body>
</html>
